<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

	<meta name="description" content="">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script th:inline="javascript" type="text/javascript">

		/*<![CDATA[*/

		var userLeave = /*[[${userSumLeaves}]]*/null;

		/*]]>*/


		google.charts.load('current', { 'packages': ['corechart'] });
		google.charts.setOnLoadCallback(drawChartd);

		function drawChartd() {

			var data = google.visualization.arrayToDataTable([
				['Type', 'Days'],
				['Taken/planned', userLeave[0]],
				['Remaining', (userLeave[1] - userLeave[0])],

			]);

			var options = {
				title: '',
				backgroundColor: 'transparent',
				height: 280,
				pieHole: 0.5,
				//           is3D:true,
				pieSliceText: 'value',
				pieSliceTextStyle: {
					color: 'black',
				},
				legendTextStyle: { fontSize: 14 },
				slices: {
					0: { color: 'CornflowerBlue' },
					1: { color: 'lightgreen', offset: 0.2 }
				},
				
				titleTextStyle: { fontSize: 18 }
			};
			var chart = new google.visualization.PieChart(document.getElementById('donutchart'));

			chart.draw(data, options);
		}

	</script>

	<title>Főoldal</title>


</head>


<body>


	<div layout:fragment="loginContent">
		<br> <br> <br>
		<div id="mainDiv" class="row col-lg-8 d-flex justify-content-center p-0 mt-1 mb-2"
			style="width: max-content; margin: auto">
			<div class=" col-lg-8 " style="width: 750px; margin: auto">
				<b th:text="${user.name}" style="font-size: 26px; color: darkblue">név</b>
				<br>
				<hr style="width: 95%; text-align: center;">
				<!-- Roles: <b th:text="${user.roles}">role</b> <br>  -->
				<!-- E-mail: <b th:text="${user.email}">email</b> <br> -->
				E-mail: <b >csaba.mezei@accenture.com</b> <br>
				<br>
				<hr style="width: 95%; text-align: center; margin-top: 0;">

				<div class="row justify-content-center">
					<div class="col-lg-6 ">

						Basic leave:&nbsp;<b th:text="${userLeaves.baseLeave}">0</b>&nbsp;days
						<br> Child-related additional leave:&nbsp;<b th:text="${userLeaves.parentalLeave}">0</b>&nbsp;days <br>
					</div>
					<div class="col-lg-6 ">

						Rollover leave:&nbsp;<b th:text="${userLeaves.carriedLeave}">0
						</b>&nbsp;days <br> Special leave:&nbsp;<b
							th:text="${userLeaves.otherLeave}">0</b>&nbsp;days<br>
					</div>
				</div>
				<hr style="width: 95%; text-align: center;">
				<!-- Approver:&nbsp;<b th:text="${approverName}">none</b> <br> -->
				Approver:&nbsp;<b >marian.mokry@accenture.com</b> 

			</div>
			<div th:object="${userSumLeaves}" class=" col-lg-4 m-0 p-0"
								style="width: 422px; margin: auto;">

				<div id="donutchart" style="width: 600px; height: max-content; margin: auto; padding: 1px"></div>
			</div>
		</div>


		<div id="rowCalendar" class="container border border-primary rounded-end shadow px-2 py-1 bg-white rounded"
			style="width: max-content; height: max-content; margin: auto; padding: auto">

			<div class="row col-lg my-1 ms-1 p-1" style="height: max-content; width: max-content">
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
			</div>
			<div class="row col-lg my-1 ms-1 p-1" style="height: max-content; width: max-content">
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
				<table class="row col-lg me-1" style="height: max-content; width: max-content"></table>
			</div>

			<script th:inline="javascript" type="text/javascript">
				/*<![CDATA[*/

				var exEventList = /*[[${exEventList}]]*/{};
				var eventList = /*[[${eventList}]]*/{};

				/*]]>*/
			</script>
			<script th:inline="javascript" type="text/javascript" src="../static/js/calendarView.js"
				th:src="@{../js/calendarView.js}"></script>

		</div>

	</div>

</body>

</html>